/* $Id: two-sidebars.css,v 1.1.2.1 2009/12/12 15:31:55 johnalbin Exp $ */

/**
 * @file
 * dotequals panel layout
 *
 * This layout does include the standar dotequals navbar, content and right sidebar
 * layout.  Markup has been reordered for Accessibility and SEO optimizations.
 * The markup order is: content, sidebar, sidebar but the display will show
 * sidebar, content, sidebar.
 */

.dotequals-two-sidebars { 
/*  overflow: hidden;  */
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.dotequals-two-sidebars .panel-sidebar-first {
}

.dotequals-two-sidebars .panel-content {
  float: left; /* LTR */
  width: 460px;
  margin-left: 250px; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.dotequals-two-sidebars .panel-sidebar-first {
  float: left; /* LTR */
  width: 250px;
  margin-left: 0px; /* LTR */ /* Width of #content. */
  margin-right: -250px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

.dotequals-two-sidebars .panel-sidebar-first .panel-sidebar-first-inner {
  margin-right: 20px;
}

.dotequals-two-sidebars .panel-sidebar-second {
  float: left; /* LTR */
  width: 250px;
  margin-left: 710px; /* LTR */ /* Width of #content. */
  margin-right: -960px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

.dotequals-two-sidebars .panel-sidebar-second .panel-sidebar-second-inner {
  margin-left: 20px;
}
