/* $Id: theme-settings-rtl.css,v 1.1 2009/08/12 06:49:47 johnalbin Exp $ */

/**
 * @file
 * Theme settings styling
 *
 * This file is only loaded on the Theme Settings page for dotequals and its
 * subthemes: admin/build/themes/settings
 */


#dotequals-settings fieldset .form-item
{
  padding-left: 0;
  padding-right: 200px;
}

#dotequals-settings fieldset .form-checkboxes .form-item,
#dotequals-settings fieldset .form-radios .form-item
{
  padding-right: 0;
}

#dotequals-settings fieldset .form-item label
{
  float: right;
  margin-left: 10px;
  margin-right: -200px;
  text-align: left;
}

#dotequals-settings fieldset .form-item label.option
{
  text-align: right;
}

#div-dotequals-registry strong,
#div-dotequals-wireframes strong
{
  float: right;
  margin-left: 10px;
  margin-right: 0;
  text-align: left;
}

#div-dotequals-registry fieldset .form-item,
#div-dotequals-wireframes fieldset .form-item
{
  margin-right: 0;
  padding-right: 0;
}

#div-dotequals-registry fieldset .form-item .description,
#div-dotequals-wireframes fieldset .form-item .description
{
  margin-left: 0;
  margin-right: 200px;
}
