/* $Id: theme-settings.css,v 1.1 2009/08/12 06:49:47 johnalbin Exp $ */

/**
 * @file
 * Theme settings styling
 *
 * This file is only loaded on the Theme Settings page for dotequals and its
 * subthemes: admin/build/themes/settings
 */


#dotequals-settings fieldset .form-item
{
  padding-left: 200px; /* LTR */
}

#dotequals-settings fieldset .form-checkboxes .form-item,
#dotequals-settings fieldset .form-radios .form-item
{
  padding-left: 0; /* LTR */
}

#dotequals-settings fieldset .form-item label
{
  float: left; /* LTR */
  width: 190px;
  margin-left: -200px; /* LTR */
  margin-right: 10px; /* LTR */
  text-align: right; /* LTR */
  _display: inline-block; /* IE6 is dumb. */
}

#dotequals-settings fieldset .form-item label.option
{
  float: none;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  text-align: left; /* LTR */
}

#div-dotequals-registry,
#div-dotequals-wireframes
{
  margin: 1em 0;
}

#div-dotequals-registry strong,
#div-dotequals-wireframes strong
{
  float: left; /* LTR */
  width: 190px;
  margin-left: 0; /* LTR */
  margin-right: 10px; /* LTR */
  text-align: right; /* LTR */
}

#div-dotequals-registry fieldset .form-item,
#div-dotequals-wireframes fieldset .form-item
{
  display: inline;
  margin-left: 0; /* LTR */
  padding-left: 0; /* LTR */
}

#div-dotequals-registry fieldset .form-item .description,
#div-dotequals-wireframes fieldset .form-item .description
{
  display: block;
  margin-left: 200px; /* LTR */
}
