/* $Id: one-sidebar-second.css,v 1.1.2.2 2009/12/12 15:54:47 johnalbin Exp $ */

/**
 * @file
 * dotequals panel layout
 *
 * This layout does include the standar dotequals navbar, content and right sidebar
 * layout.  Markup has been reordered for Accessibility and SEO optimizations.
 */

.dotequals-one-sidebar-second { 
/*  overflow: hidden;  */
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.dotequals-one-sidebar-second .panel-navbar { 
  width: 100%; 
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navbar's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-navbar. */
  height: 8.3em; /* The navbar can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.dotequals-one-sidebar-second .with-panel-header .panel-content,
.dotequals-one-sidebar-second .with-panel-header .panel-sidebar-first {
  margin-top: 8.3em; /* Set this to the same value as the navbar height above. */
}

.dotequals-one-sidebar-second .panel-content {
  float: left; /* LTR */
  width: 640px;
  margin-left: 0; /* LTR */
  margin-right: -640px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.dotequals-one-sidebar-second .panel-sidebar-first {
  float: left; /* LTR */
  width: 320px;
  margin-left: 640px; /* LTR */ /* Width of #content. */
  margin-right: -960px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

.dotequals-one-sidebar-second .panel-sidebar-first .panel-sidebar-first-inner {
  margin-left: 20px;
}
