/* $Id: one-sidebar-first.css,v 1.1.2.2 2009/12/12 15:54:47 johnalbin Exp $ */

/**
 * @file
 * dotequals panel layout
 *
 * This layout does include the standar dotequals navbar, content and right sidebar
 * layout.  Markup has been reordered for Accessibility and SEO optimizations.
 * The markup order is: content, sidebar but the display will show sidebar,
 * content.
 */

.dotequals-one-sidebar-first { 
/*  overflow: hidden;  */
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.dotequals-one-sidebar-first .panel-content {
  float: left; /* LTR */
  width: 640px;
  margin-left: 320px; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.dotequals-one-sidebar-first .panel-sidebar-first {
  float: left; /* LTR */
  width: 320px;
  margin-left: 0px; /* LTR */ /* Width of #content. */
  margin-right: -320px; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

.dotequals-one-sidebar-first .panel-sidebar-first .panel-sidebar-first-inner {
  margin-right: 20px;
}
