/* $Id: one-sidebar-first-admin.css,v 1.1.2.2 2009/12/12 15:54:47 johnalbin Exp $ */

/**
 * @file
 * Page manager layout
 *
 * We are using percentages in the admin instead of fixed widths so that the
 * admin can work nicely in different admin themes.
 */

#panels-dnd-main div.panels-display h2.label {
	padding-left: 24px;
	text-align: left;
}

#page-manager-edit .dotequals-one-sidebar-first .panel-content {
  float: left; /* LTR */
  width: 66%;
  margin-left: 34%; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

#page-manager-edit .dotequals-one-sidebar-first .panel-content .inside {
  margin-right: 0px;
}

#page-manager-edit .dotequals-one-sidebar-first .panel-header {
  height: auto;
  margin-bottom: 10px;
}

#page-manager-edit .dotequals-one-sidebar-first .panel-sidebar-first {
  float: left; /* LTR */
  width: 34%;
  margin-left: 0px; /* LTR */ /* Width of #content. */
  margin-right: -34%; /* LTR */ /* Negative value of #sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-first-inner. */
}

#page-manager-edit .dotequals-one-sidebar-first .panel-sidebar-first .panel-sidebar-first-inner {
  margin-right: 10px;
}
